<div class="container-fluid m-0 p-0">
    <app-nav></app-nav>
    <div class="container p-5">
        <div class="row p-5 justify-content-center">
            <div class="col-md-4">
                <div class="mb">
                    <h1>Agregar Auto</h1>
                    <hr>
                </div>
                <form (ngSubmit)="onSubmit()" #auto="ngForm" method="POST">
                    <div class="mb-3">
                        <label for="marca" class="form-label">Marca Auto</label>
                        <input type="text" [(ngModel)]="formAuto.marca" name="marca" id="marca" placeholder="Maserati"
                            class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="modelo" class="form-label">Modelo Auto</label>
                        <input type="text" [(ngModel)]="formAuto.modelo" name="modelo" id="modelo"
                            placeholder="Levante Hybrid" class="form-control" required>
                    </div>
                    <div class="mb-3 d-grid">
                        <button type="submit" class="btn btn-outline-primary btn-block">Guardar Auto</button>
                    </div>
                </form>
            </div>
            <div class="col-md-6 ms-5">
                <div class="mb">
                    <h1>Lista de Autos</h1>
                    <hr>
                </div>
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>#</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Fecha Ingreso</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="autos.length > 0">
                        <tr *ngFor="let auto of autos">
                            <td>{{ auto.id }}</td>
                            <td>{{ auto.marca }}</td>
                            <td>{{ auto.modelo }}</td>
                            <td>{{ auto.fecha_ingreso | date:'mediumDate' }}</td>
                            <td>
                                <div class="col-lg-5 col-md-6 col-12">
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-danger"
                                            (click)="eliminarAuto(auto.id)">Eliminar</button>
                                    </div>
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">Editar</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <div class="modal fade" id="exampleModal" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Editar Auto</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <!-- Comienzo -->
                                    <div class="row g-3">
                                        <div class="col">
                                            <input type="text" class="form-control"
                                                placeholder="Me falto un poco de tiempo" aria-label="Marca">
                                        </div>
                                        <div class="col">
                                            <input type="text" class="form-control" placeholder="Modelo"
                                                aria-label="Modelo">
                                        </div>
                                    </div>
                                    <!-- Termino -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-outline-primary">Guardar Cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    </tbody>
                    <tbody *ngIf="autos.length <= 0">
                        <td colspan="3" class="text-center py-2">No hay autos ingresados.</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>